<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.beans.Course">
        <id column="course_id" property="courseId" />
        <result column="course_name" property="courseName" />
        <result column="course_code" property="courseCode" />
        <result column="course_credit" property="courseCredit" />
        <result column="course_status" property="courseStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        course_id, course_name, course_code, course_credit, course_status
    </sql>

</mapper>
